<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GAM3STATION</title>
    <link rel="stylesheet" href="/G3-station/stylesheets/style.css">
</head>

<body>
    <div class="flex-column justify-space-around">

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid navBack">
          <a class="navbar-brand navTitle" href="/"></a>
          <button
            type="button"
            class="navbar-toggler"
            aria-label="Toggle navigation"
            data-bs-target="#navbarSupportedContent"
            data-bs-toggle="collapse"
            aria-expanded="false"
            aria-controls="navbarSupportedContent">
            
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-4 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
                {{#if loggedIn}}
                <li class="nav-item">
                  <button class="no-button" id="logout">Logout</button>
                </li>
                   <li class="nav-item">
                  <a class="nav-link" href="/dashboard">Dashboard</a>
                </li>

                {{else}}
                <li class="nav-item">
                  <a class="nav-link" href="/signUp">Sign Up</a>
                </li>

                <li>
                  <a class="nav-link" href="/login">Login</a>
                </li>
                {{/if}}
            </nav>
        </header>
        <div class="site-row">
            <div class="site-name">
                <h1>G3-Playlist</h1>
            </div>
        </div>
        <main>
            {{{ body }}}
        </main>
         <footer>
      We love videogames!
    </footer>
    </div>

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>

</html>