<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>G3-station</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <header>
       {{#if loggedIn}}
        <h1>
          <a href="/dashboard">{{username}}'s-Dashboard</a>
        </h1>
      {{else}}
        <h1>
          <a href="/">G3-station</a>
        </h1>
      {{/if}}


      <nav>
        <ul class="inline-nav">
          {{#if loggedIn}}
            <li> <a href="/dashboard">Dashboard</a></li>
            <li> <a href="/login" id="logout">Logout</a> </li>
          {{else}}
            <li><a href="/login"> Login </a></li>
            <li><a href="/signup">Sign-up</a> </li>
          {{/if}}
        </ul>
      </nav>
    </header>
    <main>
      {{{body}}}
    </main>
    <footer>
      We love videogames!
    </footer>
  

    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}
  </body>

</html>