<div>
  <h2 class="signup">Sign Up</h2>

  <form class="form signup-form">
    <div class="form-group">
      <input class="form-input" type="text" placeholder="Username" id="username-signup" />
    </div>

    <a href="/public/javascript/login.js" class="login-link">log in instead</a>
</section>

<script src="/public/javascript/signup.js"></script>
