
body {

  background-image: url("https://videohive.net/item/retro-80s-video-game-background-4k-looped/28387442");

  background-color: rgb(74, 79, 122);
}


.postBox {
  margin-top: 8px;
  border-style: solid;
}
.navTitle {
  font-weight: 900;
  font-size: xx-large;
}
.postDesc {
  border-style: solid;
  margin-bottom: 5px;
  padding: 2px;
  background-color: rgb(113, 143, 62);
}

.postTitle {
  text-decoration: none;
  color: darkkhaki;
}

.postDescTwo {
  font-size: 25px;
  font-style: italic;
}

.postDescMain {
  font-weight: 700;
}


.postBoxCont {
  margin-top: 10px;
  border-style: solid;
  background-color: rgb(113, 143, 62);
}

.formCont {
  margin-top: 10px;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.postCreate {
  font-weight: bold;
  font-style: italic;
  font-size: 15px;
  padding: 5px;
  color: darkkhaki;
}

.commentOwner {
  font-size: 14px;
}

.commentCont {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  max-width: 75%;
  background-color: rgb(89, 97, 142);
}

.commentText {
  font-weight: bold;
  padding-top: 10px;
  background-color: rgb(84, 89, 134);
}
.headerRow {
  background-color: black;
  margin-bottom: 15px;
}
.btnComment {
  margin-top: 10px;
}

.commentCont {
  border-style: dashed;
}

a:link {
  color: rgb(200, 23, 23);
}
a:visited {
  color: rgb(255, 155, 4);
}

a:hover {
  color: rgb(87, 255, 20);
}

.signup{
  margin-left: 30px;
}

.login{
	margin-left: 30px;
}

.form-group{
	margin-top: 15px;
}
